<!doctype html>
<html lan="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="SA">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Testing</title>
    <link href="../static/index.css" rel="stylesheet">
    <script src="../static/js/bootstrap.bundle.min.js"></script> 
    <link rel="stylesheet" href="../static/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
</head>

<body>

    <div class="container-fluid p-5 text-center" style="background-color: #F2D0A9; position: fixed; left: 0;top: 0;" id = "myHeader">
        <p class="acg animate__animated animate__rubberBand" style="color: rgb(255, 255, 255);" id="title_text" >TW2</p>
    </div>

    <div class="introduction_his container-fluid p-7 text-center">
        <div>
            <p class="text-center fs-3 p-1 fw-bold">TT</p>
        </div>
    </div>

    <section id="page1" class="pa1">
        <div class="boxes">
            <a href="#" target="_blank" class="box acg"><div >A</div></a>
            <a href="#" target="_blank" class="box acg box_c"><div >C</div></a>
            <a href="#" target="_blank" class="box acg box_g"><div >G</div></a>
            <a href="#" target="_blank" class="box acg box_n"><div >N</div></a>
            <a href="#" target="_blank" class="box acg box_p"><div >+</div></a>
        </div>
    </section>

    
    <footer class="foot">
        <div class="ft">
            @版權無所有
        </div>
    </footer>

</body>

</html>

